img{
    width: 20vw; /* 幅を200pxに統一 */
    height: 13vw; /* 高さを150pxに統一 */
    object-fit: cover; /* アスペクト比を維持してトリミング */
    border-radius: 1vw;
}
header {
    padding-left: 3vw;
    color:green;
    font-family: initial;
    text-shadow: 6px 3px 4px rgb(89, 187, 80);
    font-size: 5vw;
    border: 1vw solid green;
    font-weight:bold;
}
h1 {
    padding-left: 3vw;
    text-shadow: 6px 6px 3px rgb(0, 0, 0);
}
.txt-contents {
    padding-right: 2vw;
    position: relative;
    text-align: center;
}

.lesson{
    flex: 0 5 15vw;  /* 幅を25%に設定 */
    padding-bottom: 5vw;
    margin:0vw;
    z-index: 1;
}

.anime {
    text-align: left;
    padding-top: 0vw;
    padding-left: 3vw;
    margin: 0vw;
    direction: ltr;
    display: block;
}

.lessons {
    display: flex !important;
    padding-left: 3vw;
    flex-wrap: wrap;  /* 複数行に折り返し */
    gap: 3vw; 
    justify-content: center; /* アイテム間の隙間 */
}



.special{
    object-position: center;  /* トリミングされる部分を中央に設定（必要に応じて調整） */

    z-index: -1;
    object-fit: cover;
    
}

p {
    z-index: 1;
    position: relative;
}

@media (max-width: 768px) {
    .lesson {
        flex: 0 1 calc(50% - 10px);
    }

    img {
        width: 40vw;
        height:30vw
    }
}

/* lessons-container 配下の lesson のみ対象 */



body {
   
    color: white;
    background-size: cover;
    background-position: center; /* 画像の中央を表示 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効化 */
    background-attachment: fixed;

    background-image: url(https://media.istockphoto.com/id/812090812/photo/view-of-the-bay.jpg?s=612x612&w=0&k=20&c=n5Tv66WnEyujD9HljnxsH3ijt8W1yrp19CiwT2SL-N0=)
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* 横幅を100%に */
    height: 100%; /* 高さを100%に */
    box-sizing: border-box;
    overflow-x: hidden; /* 横スクロール防止 */
}